.signup-container {
    background-image: url("../components/img/background_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
}

.signin-container {
    background-image: url("../components/img/bcgLogin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
}

.Otp-container {
    background-image: url("../components/img/Otpbcg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
}

.home-container {
    background-image: url("../components/img/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
}

.about-container {
    background-image: url("../components/img/about.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

.booking-container {
    background-image: url("../components/img/Booking.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
}